{% extends "base.html" %}

{% block content %}

<section id= 'Booking' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto" >
    <div class="Page-Title flex">
        <h1 class="text-4xl font-bold pl-24 -mt-[3.5%] fixed">Booking</h1>
    </div>
    <div class="flex gap-4 ml-16 items-center justify-center mt-4">
        <div class="flex flex-col gap-4">
            <div class="h-64 w-[500px] bg-white rounded-3xl shadow-lg flex flex-col items-center justify-center pb-6">
                <h1 class="my-6 text-xl font-semibold">Default pickup days</h1>
                <div class="flex gap-20">
                    <div class="flex flex-col">
                        <h1 class="text-md font-medium mb-1">Tuesday</h1>
                        <h1 class="text-md font-medium mb-4">Thursday</h1>
                        <h1 class="text-md font-medium mb-1">Second Saturdays</h1>
                        <h1 class="text-md font-medium mb-1">First Monday</h1>
                        <h1 class="text-md font-medium mb-1">Third Monday</h1>
                    </div>
                    <div>
                        <h1 class="font-medium text-green-500 mb-1">Bio-waste</h1>
                        <h1 class="font-medium text-blue-500 mb-4 ">Plastic</h1>
                        <h1 class="font-medium text-red-500 mb-1">Glass</h1>
                        <h1 class="font-medium text-orange-500 mb-1">Paper</h1>
                        <h1 class="font-medium text-orange-500 mb-1">Cardboard</h1>
                    </div>
                </div>
            </div>
            <div class="h-48 w-[500px] bg-white rounded-3xl shadow-lg ">
                <h1 class="my-4 text-xl font-semibold text-center">Your next pickup</h1>
                <div class="flex gap-16 justify-center">
                    <div class="p-4">
                        <h1 class=" text-xl text-center">MON</h1>
                        <h1 class=" text-xl text-center">16</h1>
                    </div>
                    <div class="shadow-lg rounded-2xl py-4 px-6">
                        <h1 class=" text-xl font-semibold text-center">TUE</h1>
                        <h1 class=" text-xl font-semibold text-center">17</h1>
                    </div>
                    <div class="p-4">
                        <h1 class="text-xl text-center">WED</h1>
                        <h1 class="text-xl text-center">18</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-[468px] w-[520px] bg-white rounded-3xl shadow-lg flex flex-col items-center justify-center">
            <h1 class="my-2 text-xl font-semibold text-center">Past bookings</h1>
            <table class="w-[500px] table-auto mx-6">
                <thead>
                    <tr class="mr-auto ml-auto text-gray-600 text-lg leading-normal">
                        <th class="py-1  text-left pl-6">Type</th>
                        <th class="py-1 text-center">Pick Up Date</th>
                        <th class="py-1 text-center">status</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 text-lg font-lg ">
                    <tr class="border-b border-gray-200">
                        <td class="py-2  pl-6 text-blue-500">Plastic</td>
                        <td class="py-2  text-center">Nov 30</td>
                        <td class="py-2  text-center">Order In transit</td> 
                    </tr>
                    <tr class="border-b border-gray-200">
                        <td class="py-2  pl-6 text-blue-500">Plastic</td>
                        <td class="py-2  text-center">Nov 26</td>
                        <td class="py-2  text-center">Order Cancelled </td> 
                    </tr>
                    <tr class="border-b border-gray-200">
                        <td class="py-2  pl-6 text-green-500">Bio waste</td>
                        <td class="py-2  text-center">Nov 20</td>
                        <td class="py-2  text-center">Reached Green hub </td> 
                    </tr>
                    <tr class="border-b border-gray-200">
                        <td class="py-2  pl-6 text-green-500">Bio waste</td>
                        <td class="py-2  text-center">Nov 10</td>
                        <td class="py-2  text-center">Reached Flex will LLC.</td> 
                    </tr>
                    <tr class="border-b border-gray-200">
                        <td class="py-2  pl-6 text-red-500">Glass</td>
                        <td class="py-2  text-center">Oct 25 </td>
                        <td class="py-2  text-center">Reached Cravings In</td> 
                    </tr>
                    <tr class="border-b border-gray-200">
                        <td class="py-2  pl-6 text-red-500">Glass</td>
                        <td class="py-2  text-center">Oct 15 </td>
                        <td class="py-2  text-center">Reached Flex will LLC.</td> 
                    </tr>
                    <tr class="border-b border-gray-200">
                        <td class="py-2  pl-6 text-orange-500">Paper</td>
                        <td class="py-2  text-center">Oct 5 </td>
                        <td class="py-2  text-center">Order Cancelled</td> 
                    </tr>
                    <tr class="border-b border-gray-200">
                        <td class="py-2  pl-6 text-orange-500">Paper </td>
                        <td class="py-2  text-center">Sep 25</td>
                        <td class="py-2  text-center">Reached Uniliver Ltd.</td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="w-[1038px] h-36 bg-white rounded-3xl shadow-lg mt-4 ml-16 ">
            <h1 class="mt-4 text-xl font-semibold text-center">your waste goes here</h1>
            <div class="flex justify-center items-center gap-12">
                <img src="./logo-images/Booking-logo-1.svg" alt="">
                <img src="./logo-images/Booking-logo-2.svg" alt="">
                <img class="ml-5" src="./logo-images/Booking-logo-3.svg" alt="">
                <img src="./logo-images/Booking-logo-4.svg" alt="">
                <img class="-ml-6" src="./logo-images/Booking-logo-5.svg" alt="">
            </div>
        </div>
    </div>
</section>

{% endblock %}