{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/styles/dash.css" />
<!-- ======================= Cards ================== -->
{% if current_user.is_anonymous %}
<div class="cardBox">
    <a href="" class="btn-click">
        <div class="card">
            <div>
                <div class="numbers">0</div>    
                <div class="cardName">Revenue</div>
            </div>

            <div class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
    </a>
    <a href="" class="btn-click">
        <div class="card">
            <div>
                <div class="numbers">0</div>    
                <div class="cardName">Properties</div>
            </div>

            <div class="iconBx">
                <ion-icon name="home-outline"></ion-icon>
            </div>
        </div>
    </a>
    <a href="" class="btn-click">
        <div class="card">
            <div>
                <div class="numbers">0</div>    
                <div class="cardName">Dues</div>
            </div>

            <div class="iconBx">
                <ion-icon name="card-outline"></ion-icon>
            </div>
        </div>
    </a>
    <a href="" class="btn-click">
        <div class="card">
            <div>
                <div class="numbers">0</div>    
                <div class="cardName">Views</div>
            </div>

            <div class="iconBx">
                <ion-icon name="eye-outline"></ion-icon>
            </div>
        </div>
    </a>
</div>
{% else %}
<div class="cardBox">
    <a href="" class="btn-click">
        <div class="card">
            <div>
                <div class="numbers">{{revenue}}</div>    
                <div class="cardName">Revenue</div>
            </div>

            <div class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
    </a>
    <a href="" class="btn-click">
        <div class="card">
            <div>
                <div class="numbers">{{ properties }}</div>
                <div class="cardName">Properties</div>
            </div>

            <div class="iconBx">
                <ion-icon name="home-outline"></ion-icon>
            </div>
        </div>
    </a>
    <a href="" class="btn-click">
        <div class="card">
            <div>
                <div class="numbers">1</div>    
                <div class="cardName">Dues</div>
            </div>

            <div class="iconBx">
                <ion-icon name="card-outline"></ion-icon>
            </div>
        </div>
    </a>
    <a href="" class="btn-click">
        <div class="card">
            <div>
                <div class="numbers">1</div>    
                <div class="cardName">Views</div>
            </div>

            <div class="iconBx">
                <ion-icon name="eye-outline"></ion-icon>
            </div>
        </div>
    </a>
</div>
{% endif %}


<!-- ================ Popular Houses List ================= -->
<div class="details">
    <div class="popularbooks">
        <div class="cardHeader">
            <h2>Popular</h2>
            <a href="{{url_for('all_books')}}" class="btn">View All</a>
        </div>

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>More Details</td>
            </tr>
        </thead>
        <tbody>
            {% for house in titles %}
            <tr>
                <td>{{ house.name }}</td>
                    <td><a href="/house/{{ house.id }}" class="btn-click"><span class="status inProgress">View</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- ================= Random space That needs to be changed================ -->
<div class="recentCustomers">
    <div class="cardHeader">
        <h2>Popular PG Owners</h2>
    </div>
    {% for user in users %}
    <table>
        <tr>
            <td width="60px">
                <div class="imgBx"><img src="" alt=""></div>
            </td>
            <td>
                <h4>{{ user.username }}<br></h4>
            </td>
            <td>
                <h4>{{ user.email }}<br></h4>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}
