{% extends "base.html" %}

{% block content %}

<section id= 'Dashboard' class=" flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto" >
    <div class="Page-Title flex">
        <h1 class="text-4xl font-bold pl-24 -mt-[3.5%] fixed">Dashboard</h1>
    </div>
    <div class=" justify-center flex flex-wrap md:gap-4 mt-4">
        <div class="h-72 flex flex-col w-80 bg-[#009743] rounded-3xl shadow-lg">
            <h1 class="text-2xl font-medium ml-6 mt-12 text-white">Schedule a<br>pickup</h1>
            <a href="#Schedule">
                <div class="ml-60 mt-24">
                    <img src="logo-images/Arrow-white.svg" />
                </div>
            </a>
        </div>
        <div class="h-72 w-80 bg-white rounded-3xl shadow-lg">
            <h1 class="text-2xl font-medium ml-6 mt-12">Drop off at a<br>Collection point</h1>
            <a href="#Dropoff">
                <div class="ml-60 mt-24">
                    <img src="logo-images/Arrow-black.svg" />
                </div>
            </a>
        </div>
        <div class="h-72 w-[492px] bg-white rounded-3xl shadow-lg">
            <div class="flex ml-6">
                <img src="./logo-images/Graph-icon-dashboard.svg"/>
                <h1 class="text-2xl font-medium mt-6 mb-4 ml-2">Total Recycled</h1>
            </div>
            <div class="year-stats flex flex-col max-h-[140px] gap-4 mx-4">
                <img src="./logo-images/graph.svg"/>
                <h1 class="text-2xl mt-2 ml-2 font-medium">1.02 Tons</h1>
            </div>
        </div>
    </div>
    <div class="h-[300px] flex justify-center items-center flex-wrap gap-4">
        <div class="h-[280px] w-[750px] bg-white rounded-3xl shadow-lg justify-center items-center">
            <h1 class="pl-12 pt-6 text-2xl font-medium">Purchase a WRAP bin</h1>
            <div class="flex flex-row flex-wrap justify-center items-center mt-12 gap-24">
                <div class="flex flex-col justify-center items-center">
                    <img class="h-[69px] w-[69px] mb-4" src="logo-images/Trash-green.svg"/>
                    <h2>Bio-Waste</h2>
                </div>
                <div  class="flex flex-col justify-center items-center">
                    <img class="h-[69px] w-[69px] mb-4" src="logo-images/Trash-blue.svg"/>
                    <h2>Plastic-Waste</h2>
                </div>
                <div  class="flex flex-col justify-center items-center">
                    <img class="h-[69px] w-[69px] mb-4" src="logo-images/Trash-orange.svg"/>
                    <h2>Paper-Waste</h2>
                </div>
            </div>
        </div>
        <div class="h-[280px] w-[396px] bg-[#FFCB0A] rounded-3xl shadow-lg flex items-center justify-center">
            <a href="#Report">
                <div class="h-[210px] w-[320px] m-[40px] bg-white rounded-xl flex flex-col items-center justify-center gap-3">
                    <h1 class="text-xl font-semibold">Report a Dump</h1>
                    <img src="./logo-images/Report-a-dump.svg"/>
                </div>
            </a>
        </div>
    </div>
</section>

{% endblock %}