{% extends "base.html" %}

{% block content %}

<section id= 'Dropoff' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto" >
    <div class="Page-Title flex">
        <h1 class="text-4xl font-bold pl-24 -mt-[3.5%] fixed">Drop Off</h1>
    </div>
    <div class="flex gap-8 justify-center flex-wrap">
        <div class="flex flex-col gap-4">
            <h1 class="font-semibold text-xl">1.Select the type of waste</h1>
            <div class="h-72 w-[600px] bg-white rounded-3xl shadow-lg flex flex-wrap gap-8 justify-center items-center py-6">
                <div class="bg-orange-500 w-40 h-16 flex items-center justify-center rounded-xl shadow-sm gap-2 p-4">
                    <img src="./logo-images/Schedule-logos-1.svg" class=""/>
                    <h1 class="text-white leading-none">Paper or clipboard</h1>
                </div>
                <div class="bg-green-700 w-40 h-16 flex items-center justify-center rounded-xl shadow-sm gap-2 p-4">
                    <img src="./logo-images/Schedule-logos-2.svg" class=""/>
                    <h1 class="text-white ">Bio-waste</h1>
                </div>
                <div class="bg-blue-500 w-40 h-16 flex items-center justify-center rounded-xl shadow-sm gap-2 p-4">
                    <img src="./logo-images/Schedule-logos-3.svg" class=""/>
                    <h1 class="text-white leading-none">Plastic waste</h1>
                </div>
                <div class="bg-red-600 w-40 h-16 flex items-center justify-center rounded-xl shadow-sm gap-2 p-4">
                    <img src="./logo-images/Schedule-logos-4.svg" class=""/>
                    <h1 class="text-white ">Glass waste</h1>
                </div>
                <div class="bg-purple-500 w-40 h-16 flex items-center justify-center rounded-xl shadow-sm gap-2 p-4">
                    <img src="./logo-images/Schedule-logos-5.svg" class=""/>
                    <h1 class="text-white ">e-waste</h1>
                </div>
                <div class="bg-gray-500 w-40 h-16 flex items-center justify-center rounded-xl shadow-sm gap-2 p-4">
                    <img src="./logo-images/Schedule-logos-6.svg" class=""/>
                    <h1 class="text-white ">Others</h1>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 ">
            <h1 class="font-semibold text-xl ml-4">2.Select time slot</h1>
            <div class="flex items-center justify-center py-8 px-4 bg-white rounded-3xl shadow-lg w-72 h-72">
                <table class="py-4 text-2xl">
                    <tr CLASS="gap-4 border-b-2 border-gray-400">
                        <td class="px-4">06</td>
                        <td class="px-4">:</td>
                        <td class="px-4">23</td>
                        <td class="px-4">PM</td>
                    </tr>
                    <tr class="text-bold text-[#009743] gap-4 border-b-2 border-gray-400">
                        <td class="px-4">06 </td>
                        <td class="px-4">:</td>
                        <td class="px-4">24</td>
                        <td class="px-4">PM</td>
                    </tr>								
                    <tr>
                        <td  class="px-4">06</td >
                        <td  class="px-4">:</td>
                        <td class="px-4">25</td>
                        <td class="px-4">PM</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="flex justify-center flex-col ml-52 gap-3 mt-4">
        <h1 class="font-semibold text-xl ">3.Drop Off Point</h1>
        <div class="mb-3 w-[550px]">
          <select class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-[#009743] focus:outline-none" aria-label="Default select example">
              <option selected>Select the nearest Dropoff point</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
          </select>
        </div>
    </div>
    <a class="mt-4 ml-52" href="">
        <button class="px-6 py-3 bg-[#009743] text-white rounded-lg">Schedule DropOff</button>
    </a>
</section>

<section id= 'Report' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto" >
    <div class="Page-Title flex">
        <h1 class="text-4xl font-bold pl-24 -mt-[3.5%] fixed">Report</h1>
    </div>
    <div class="flex flex-col items-center gap-8 mt-8">
        <div class="flex h-24 w-[800px] bg-white rounded-lg shadow-lg items-center pl-8 gap-56">
            <h1 class="text-xl font-semibold">1.Upload a clear picture of the dump</h1>
            <a href="">
                <div class="bg-[#009743] py-2 px-4 flex items-center justify-center rounded-lg shadow-sm gap-2 p-4">
                    <img src="./logo-images/upload-White-logo.svg" class=""/>
                    <h1 class="text-white leading-none">Upload</h1>
                </div>
            </a>
        </div>
        <div class="flex h-24 w-[800px] bg-white rounded-lg shadow-lg items-center pl-8 gap-96">
            <h1 class="text-xl font-semibold">2.Enter the pincode</h1>
            <a class="text-xl font-semibold text-[#009743]" href="">Find Pincode</a>
        </div>
        <a href="">
            <button class="px-6 py-4 bg-[#009743] text-white rounded-lg">Report Dump</button>
        </a>
        <div class="mt-12 h-52 w-[800px] bg-white rounded-lg shadow-lg flex flex-col justify-center items-center gap-2">
            <h1 class="text-xl font-semibold">Report to nearest authority</h1>
            <p class="text-md font-sm">(this is currently in the beta development stage)</p>
            <a href="">
                <button class="mt-2 px-4 py-2 bg-[#009743] text-white rounded-lg">Report</button>
            </a>
        </div>
    </div>
</section>

<section id= 'Track' class=" flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto" >
    <div class="Page-Title flex">
        <h1 class="text-4xl font-bold pl-24 -mt-[3.5%] fixed">Track</h1>
    </div>
    <div class="flex flex-col justify-center items-center mt-6">
        <img class="h-[400px]" src="./logo-images/Map-img.svg"/>
        <table class="w-[800px] table-auto mx-6 mt-6">
            <tbody class="text-gray-600 text-lg font-lg ">
                <tr class="border-b border-gray-200">
                    <td class="py-2 pl-6 text-black">Waste picked up</td>
                    <td class="py-2 pr-6 w-[200px]">Today, 11:00 AM</td> 
                </tr>
                <tr class="border-b border-gray-200">
                    <td class="py-2 pl-6 text-black">Reached collection point</td>
                    <td class="py-2 pr-6 w-[200px]">Today, 04:03 PM</td> 
                </tr>
                <tr class="border-b border-gray-200">
                    <td class="py-2 pl-6 text-black">Sent to Infinite waste LLC</td>
                    <td class="py-2 pr-6 w-[200px]">Today, 05:59 PM</td> 
                </tr>
                <tr class="border-b border-gray-200">
                    <td class="py-2 pl-6 text-black">On the way</td>
                    <td class="py-2 pr-6 w-[200px]">Just now</td> 
                </tr>
            </tbody>
        </table>
    </div>
</section>
    
<section id= 'Order_Bin' class=" flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-12 overflow-x-auto pt-8 items-center" >
    <h1 class="text-[#009743] text-xl font-semibold text-center">Purchase a WRAP bin</h1>
    <div class="flex gap-8 flex-wrap">
        <div class="h-[450px] w-80 rounded-2xl shadow-xl ">
            <img class="ml-6 mt-6" src="./logo-images/Graph-icon-dashboard.svg"/>
            <div class="flex items-center justify-center flex-col gap-4">
                <img  class="h-28 w-28" src="./logo-images/Trash-green.svg"/>
                <h1 class="text-black text-xl font-semibold">Bio-waste Bin</h1>
                <p class="px-14 text-gray-500 text-sm text-center">The Green-colored dustbins are meant for wet and biodegradable wastes.</p>
                <div class="custom-number-input h-10 w-32">
                    <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                        <button data-action="decrement" class=" bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                            <span class="m-auto text-2xl font-thin">−</span>
                        </button>
                        <input type="number" class=" focus:outline-none text-center w-full bg-gray-100 font-semibold text-md hover:text-black focus:text-black flex items-center text-gray-700  outline-none" name="custom-input-number" value="0"></input>
                        <button data-action="increment" class="bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                            <span class="m-auto text-2xl font-thin">+</span>
                        </button>
                    </div>
                  </div>
                <h1 class="text-[#009743] text-3xl font-semibold text-center">₹999.00</h1>
            </div>
        </div>
        <div class="h-[450px] w-80 rounded-2xl shadow-xl ">
            <img class="ml-6 mt-6" src="./logo-images/Graph-icon-dashboard.svg"/>
            <div class="flex items-center justify-center flex-col gap-4">
                <img class="h-28 w-28" src="./logo-images/Trash-blue.svg"/>
                <h1 class="text-black text-xl font-semibold">Plastic Bin</h1>
                <p class="px-14 text-gray-500 text-sm text-center">Blue dustbins are meant for disposal of plastic & non-biodegradable wastes.</p>
                <div class="custom-number-input h-10 w-32">
                    <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                        <button data-action="decrement" class=" bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                            <span class="m-auto text-2xl font-thin">−</span>
                        </button>
                        <input type="number" class=" focus:outline-none text-center w-full bg-gray-100 font-semibold text-md hover:text-black focus:text-black flex items-center text-gray-700  outline-none" name="custom-input-number" value="0"></input>
                        <button data-action="increment" class="bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                            <span class="m-auto text-2xl font-thin">+</span>
                        </button>
                    </div>
                  </div>
                <h1 class="text-[#009743] text-3xl font-semibold text-center">₹999.00</h1>
            </div>
        </div>
        <div class="h-[450px] w-80 rounded-2xl shadow-xl ">
            <img class="ml-6 mt-6" src="./logo-images/Graph-icon-dashboard.svg"/>
            <div class="flex items-center justify-center flex-col gap-4">
                <img class="h-28 w-28" src="./logo-images/Trash-orange.svg"/>
                <h1 class="text-black text-xl font-semibold">Paper/Glass Bin</h1>
                <p class="px-14 text-gray-500 text-sm text-center">Yellow dustbins are meant for papers and glass wastes around us.</p>
                <div class="custom-number-input h-10 w-32">
                    <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                        <button data-action="decrement" class=" bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                            <span class="m-auto text-2xl font-thin">−</span>
                        </button>
                        <input type="number" class=" focus:outline-none text-center w-full bg-gray-100 font-semibold text-md hover:text-black focus:text-black flex items-center text-gray-700  outline-none" name="custom-input-number" value="0"></input>
                        <button data-action="increment" class="bg-gray-100 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                            <span class="m-auto text-2xl font-thin">+</span>
                        </button>
                    </div>
                </div>
                <h1 class="text-[#009743] text-3xl font-semibold text-center">₹999.00</h1>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center">	
        <a href="#Dashboard">
            <button class="w-48 h-12 rounded-lg border border-[#009743] text-[#009743] mr-4">Go Back</button>
        </a>
        <a href="#OrderbinSuccess">
            <button class="w-48 h-12 rounded-lg bg-[#009743] text-white">Place Order</button>
        </a>
    </div>

</section>

<section id= 'ScheduleSuccess' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto justify-center" >
    <div class="flex justify-center items-center mt-4">
        <img class="w-[550px]" src="logo-images/Schedule-Success.svg"/>
    </div>
    <div>
        <h1 class="text-center text-4xl font-semibold p-2 leading-none">Pickup Scheduled Successfully</h1>
        <h1 class="text-center text-lg font-lg p-2 leading-none">An associate will get in touch with you soon.</h1>
    </div>
    <div class="flex justify-center">
        <a href="#Dashboard">
            <button class="w-48 h-12 rounded-lg bg-[#009743] text-white">Go back</button>
        </a>
    </div>
</section>

<section id= 'DropoffSuccess' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto justify-center" >
    <div class="flex justify-center items-center mt-0">	
        <img class="h-[300px]" src="logo-images/Drop-off-success.svg"/>
    </div>
    <div>
        <h1 class="text-center text-4xl font-semibold p-2 leading-none">Drop Off Scheduled Successfully</h1>
        <h1 class="text-center text-lg font-lg p-2 leading-none">You can drop off at your nearest collection center during working hours.</h1>
    </div>
    <div class="flex justify-center">
        <a href="#Dashboard">
            <button class="w-48 h-12 rounded-lg bg-[#009743] text-white">Go back</button>
        </a>
    </div>
</section>

<section id= 'OrderbinSuccess' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto justify-center" >
    <div class="flex justify-center items-center mt-0">	
        <img class="w-[450px]" src="logo-images/OrderBin-Success.svg"/>
    </div>
    <div>
        <h1 class="text-center text-4xl font-semibold p-2 leading-none">Order Placed Successfully</h1>
        <h1 class="text-center text-lg font-lg p-2 leading-none">Your request is processed. WRAP bins will be delivered to you soon.</h1>
    </div>
    <div class="flex justify-center">
        <a href="#Dashboard">
            <button class="w-48 h-12 rounded-lg bg-[#009743] text-white">Go back</button>
        </a>
    </div>
</section>

{% endblock %}