{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/styles/book.css" />


<div class="details">
    <div class="Bookdetails">
        <div class="cardHeader">
            <h2>House: {{ house.name }}</h2>
        </div>

        <table>
            <tbody>
                <tr>
                    <td>Named</td>
                    <td><span class="book_info">{{ house.name }}</span></td>
                </tr>

                <tr>
                    <td>Address</td>
                    <td><span class="book_info">{{ house.address }}</span></td>
                </tr>

                <tr>
                    <td>Remarks</td>
                    <td><span class="book_info">{{ house.remarks }}</span></td>
                </tr>

                <tr>
                    <td>Monthly Rent</td>
                    <td><span class="book_info">{{ house.rent }}</span></td>
                </tr>
                <tr>
                    <td>Caution Deposit</td>
                    <td><span class="book_info">{{ house.caution_deposit }}</span></td>
                </tr>
                <tr>
                    <td>Number of Rooms</td>
                    <td><span class="book_info">{{ house.number_of_rooms }}</span></td>
                </tr>
                {% if current_user.id == house.owner %}
                <tr>
                    <td>Remove Property</td>
                    <td><a class="book_info" href="{{url_for('delete_house', id=house.id)}}">Delete House</a></td>
                </tr>
                {% else %}
                <tr>
                    <td>Owner</td>
                    <td><a class="book_info" href="{{url_for('user', id=house.owner)}}">View Owner Profile</a></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    
    <div class="BookCover">
        <div class="cardHeader">
            <h2> House Image </h2>
        </div>
        <img class="book-img" src="https://cdn1.goibibo.com/voy_ing/t_g/44ad2f98b6a011e89155027e8f969666.jpg" alt="">
    </div>
</div>

{% endblock %}