{% extends "base.html" %}

{% block content %}

<section id= 'News' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto" >
    <div class="Page-Title flex">
        <h1 class="text-4xl font-bold pl-24 -mt-[3.5%] fixed">News</h1>
    </div>
    <div class="flex flex-wrap gap-4 items-center justify-center mt-4">
        <div class="h-80 w-80 bg-gray-50 rounded-lg shadow-sm flex flex-col items-center p-2">
            <img class="h-52 w-80 rounded-lg" src="logo-images/news-1.png"/>
            <div class="space-y-0">
                <h1 class="mt-2  text-black font-semibold text-md mb-1 h-9 overflow-hidden leading-none"> WRAP, a web application for waste management launched.</h1>
                <p class="h-7 overflow-hidden leading-none text-sm">WRAP is a web application constructed by a group of innovators, which intends ..</p>
                <button class="text-[#009743] font-semibold text-xs">View more..</button>
            </div>
        </div>
        <div class="h-80 w-80 bg-gray-50 rounded-lg shadow-sm flex flex-col items-center p-2">
            <img class="h-52 w-80 rounded-lg" src="logo-images/news-2.png"/>
            <div class="space-y-0">
                <h1 class="mt-2  text-black font-semibold text-md mb-1 h-9 overflow-hidden leading-none">Survey shows, WRAP reduced waste management problem by 28%.</h1>
                <p class="h-7 overflow-hidden leading-none text-sm">The survey analysis conducted by INC college students as a project shows..</p>
                <button class="text-[#009743] font-semibold text-xs">View more..</button>
            </div>
        </div>
        <div class="h-80 w-80 bg-gray-50 rounded-lg shadow-sm flex flex-col items-center p-2">
            <img class="h-52 w-80 rounded-lg" src="logo-images/news-3.png"/>
            <div>
                <h1 class="mt-2  text-black font-semibold text-md mb-1 h-9 overflow-hidden leading-none"> WRAP included in the top 5 Waste Management Systems in India.</h1>
                <p class="h-7 overflow-hidden leading-none text-sm">The WRAP application ranks 2nd position in the top 5 most innovative Waste ..</p>
                <button class="text-[#009743] font-semibold text-xs">View more..</button>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap gap-4 items-center justify-center">
        <div class="h-80 w-80 bg-gray-50 rounded-lg shadow-sm flex flex-col items-center p-2">
            <img class="h-52 w-80 rounded-lg" src="logo-images/news-4.png"/>
            <div>
                <h1 class="mt-2  text-black font-semibold text-md mb-1 h-8 overflow-hidden leading-none">Introduction of WRAP leads to 25% further increase in recycling.</h1>
                <p class="h-7 overflow-hidden leading-none text-sm">From the last 6 months survey, it is noticed that there is a rapid production rate in recycling factories..</p>
                <button class="text-[#009743] font-semibold text-xs">View more..</button>
            </div>
        </div>
        <div class="h-80 w-80 bg-gray-50 rounded-lg shadow-sm flex flex-col items-center p-2">
            <img class="h-52 w-80 rounded-lg" src="logo-images/news-5.png"/>
            <div>
                <h1 class="mt-2  text-black font-semibold text-md mb-1 h-8 overflow-hidden leading-none">WRAP becomes India's first service free waste management application.</h1>
                <p class="h-7 overflow-hidden leading-none text-sm">WRAP (Together we WRAP for a cleaner tomorrow) is India's first web application which provides free waste management... </p>
                <button class="text-[#009743] font-semibold text-xs">View more..</button>
            </div>
        </div>
        <div class="h-80 w-80 bg-gray-50 rounded-lg shadow-sm flex flex-col items-center p-2">
            <img class="h-52 w-80 rounded-lg" src="logo-images/news-6.png"/>
            <div>
                <h1 class="mt-2  text-black font-semibold text-md mb-1 h-8 overflow-hidden leading-none">WRAP collaborated with various waste management factories.</h1>
                <p class="h-7 overflow-hidden leading-none text-sm">WRAP has collaborated with 3 major waste management companies in order to develop new innovative methods to safely and rightly.. </p>
                <button class="text-[#009743] font-semibold text-xs">View more..</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}