{% extends "base.html" %}

{% block content %}

<section id= 'Redeem' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto" >
    <div class="Page-Title flex">
        <h1 class="text-4xl font-bold pl-24 -mt-[3.5%] fixed">Redeem</h1>
    </div>
    <h1 class="text-2xl font-semibold text-center">Trending now</h1>
    <div class="flex gap-10 justify-center">
        <div class="flex flex-col p-4 bg-white rounded-2xl shadow-lg h-68 w-56">
            <img class="rounded-2xl" src="./logo-images/Redeem-img1.svg" />
            <p class="px-6 text-center text-sm pt-4 font-semibold">Amazon.in Rs. 50 Gift Card</p>
        </div>
        <div class="flex flex-col p-4 bg-white rounded-2xl shadow-lg h-68 w-56">
            <img class="rounded-2xl" src="./logo-images/Redeem-img2.svg" />
            <p class="px-4 text-center text-sm pt-4 font-semibold">Get Free lipstick from NYKAA Website</p>
        </div>
        <div class="flex flex-col p-4 bg-white rounded-2xl shadow-lg h-68 w-56">
            <img class="rounded-2xl" src="./logo-images/Redeem-img3.svg" />
            <p class="px-2 text-center text-sm pt-4 font-semibold">Get BYJU’S 1 Concept Pack (2 LIVE classes)</p>
        </div>
        <div class="flex flex-col p-4 bg-white rounded-2xl shadow-lg h-68 w-56">
            <img class="rounded-2xl" src="./logo-images/Redeem-img7.svg" />
            <p class="px-2 text-center text-sm pt-4 font-semibold">Get LEAF Studios new Bass heads FREE</p>
        </div>
    </div>
    <h1 class="text-2xl font-semibold text-center">Ongoing offers</h1>
    <div class="flex gap-10 justify-center">
        <div class="flex flex-col p-4 bg-white rounded-2xl shadow-lg h-68 w-56">
            <img class="rounded-2xl" src="./logo-images/Redeem-img4.svg" />
            <p class="px-6 text-center text-sm pt-4 font-semibold">boAt Save upto 70% + extra 10% off</p>
        </div>
        <div class="flex flex-col p-4 bg-white rounded-2xl shadow-lg h-68 w-56">
            <img class="rounded-2xl" src="./logo-images/Redeem-img5.svg" />
            <p class="px-6 text-center text-sm pt-4 font-semibold">Get upto 50% off on Lady handbags</p>
        </div>
        <div class="flex flex-col p-4 bg-white rounded-2xl shadow-lg h-68 w-56">
            <img class="rounded-2xl" src="./logo-images/Redeem-img6.svg" />
            <p class="px-6 text-center text-sm pt-4 font-semibold">Get 5% discount on Apple Watch 8</p>
        </div>
        <div class="flex flex-col p-4 bg-white rounded-2xl shadow-lg h-68 w-56">
            <img class="rounded-2xl" src="./logo-images/Redeem-img8.svg" />
            <p class="px-6 text-center text-sm pt-4 font-semibold">MIVI Speaker with 70% off</p>
        </div>
    </div>
</section>

{% endblock %}