{% extends "base.html" %}

{% block content %}

<section id= 'Support' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto" >
    <div class="Page-Title flex">
        <h1 class="text-4xl font-bold pl-24 -mt-[3.5%] fixed">Support</h1>
    </div>
    <div class="flex flex-col justify-center items-center gap-4">
        <h1 class="text-[#009743] text-4xl font-semibold">Reach us at</h1>
        <div class="flex gap-8 items-center">
            <div class="w-80 h-48 bg-white rounded-3xl shadow-lg flex justify-center">
                <img class="w-8 h-8 mt-11" src="./logo-images/Support-location.svg"/>
                <h1 class="mt-11 ml-4">WRAP Avenue<br>Near InfoPark Ltd.<br>Kochi - Kerala<br>682012</h1>
            </div>
            <div class="w-80 h-48 bg-white rounded-3xl shadow-lg flex justify-center">
                <div class="flex flex-col gap-0">					
                    <img class="w-6 h-6 mt-12" src="./logo-images/Support-phone.svg"/>
                    <img class="w-6 h-6 mt-6" src="./logo-images/Support-mail.svg"/>
                </div>
                <div class="mt-12 ml-4">
                    <h1>+91 3456232434</h1>
                    <h1 class="mt-4">support@wrap.org</h1>
                    <h1>info@wrap.org</h1>
                </div>
            </div>
        </div>
        <h1 class="text-[#009743] text-4xl font-semibold">FAQs</h1>
        <div class="w-[680px] h-68 bg-white rounded-3xl shadow-lg">
            <div class="item py-4 mt-2 border-b-2 border-gray-100 mx-6" x-data="{isOpen : false}">
                <a href="#" class="flex items-center justify-between text-xl" @click.prevent="isOpen = true">
                    <h4 :class="{'text-green-400 font-medium' : isOpen == true}">How do we protect your personal information ?</h4>
                    <svg 
                    :class="{'transform rotate-180' : isOpen == true}"
                    class="w-6 h-6 text-gray-500"
                        fill="none" stroke-linecap="round" 
                        stroke-linejoin="round" stroke-width="2" 
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M19 9l-7 7-7-7"></path>
                    </svg>
                </a>
                <div x-show="isOpen" @click.away="isOpen = false" class="mt-3" :class="{'text-gray-600' : isOpen == true}">
                    <p>We adopt reasonable security practices and procedures to help safeguard Your personal information under Our control from
                        unauthorized access. However, You acknowledge that no Internet transmission or system or server can be truly 100% secure. Therefore,
                        although We take all reasonable steps to secure Your personal information, We do not promise or guarantee the same, and You should
                        not expect that Your personal information, or other communications while using the Platform will always remain secure and safeguarded
                        by Us. You should always be caution while providing, sharing or disclosing Your personal information using the Platform. But not under
                        any circumstance, your personal information will not be intentionally misused by our platform.</p>
                </div>
            </div>
            
            <div class="item py-4 border-b-2 border-gray-100 mx-6" x-data="{isOpen : false}">
                <a href="#" class="flex items-center justify-between text-xl" @click.prevent="isOpen = true">
                    <h4 :class="{'text-green-400 font-medium' : isOpen == true}">How do I use my WRAP coins ?</h4>
                    <svg 
                    :class="{'transform rotate-180' : isOpen == true}"
                    class="w-6 h-6 text-gray-500"
                        fill="none" stroke-linecap="round" 
                        stroke-linejoin="round" stroke-width="2" 
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M19 9l-7 7-7-7"></path>
                    </svg>
                </a>
                <div x-show="isOpen" @click.away="isOpen = false" class="mt-3" :class="{'text-gray-600' : isOpen == true}">
                    <p>The Wrap coins can be used to redeem swags or rewards from our platform. Also Wrap coins can be used buys products, discount
                        coupons and recipts from associates. Using Wrap coins exclusive products can be prebooked the products of company that we have
                        colabrated.</p>
                </div>
            </div>

            <div class="item py-4 border-b-2 border-gray-100 mx-6" x-data="{isOpen : false}">
                <a href="#" class="flex items-center justify-between text-xl" @click.prevent="isOpen = true">
                    <h4 :class="{'text-green-400 font-medium' : isOpen == true}"> Do I earn coins by refering friends to WRAP?</h4>
                    <svg 
                    :class="{'transform rotate-180' : isOpen == true}"
                    class="w-6 h-6 text-gray-500"
                        fill="none" stroke-linecap="round" 
                        stroke-linejoin="round" stroke-width="2" 
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M19 9l-7 7-7-7"></path>
                    </svg>
                </a>
                <div x-show="isOpen" @click.away="isOpen = false" class="mt-3" :class="{'text-gray-600' : isOpen == true}">
                    <p> Yes, you earn 20 Wrap coins per friend that you invite to Wrap. Once your friend install the Wrap app, you will receive invitation
                        reward. When the invited person initiates his first Wrap pickup using the app, then you will recieve 50 Wrap coins as reward.</p>
                </div>
            </div>

            <div class="item py-4 mx-6 mb-2" x-data="{isOpen : false}">
                <a href="#" class="flex items-center justify-between text-xl" @click.prevent="isOpen = true">
                    <h4 :class="{'text-green-400 font-medium' : isOpen == true}">Where does the collected waste go ?</h4>
                    <svg 
                    :class="{'transform rotate-180' : isOpen == true}"
                    class="w-6 h-6 text-gray-500"
                        fill="none" stroke-linecap="round" 
                        stroke-linejoin="round" stroke-width="2" 
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M19 9l-7 7-7-7"></path>
                    </svg>
                </a>
                <div x-show="isOpen" @click.away="isOpen = false" class="mt-3" :class="{'text-gray-600' : isOpen == true}">
                    <p> Through door to door pickup the sorted E-waste,plastic and other recycleable wastes are collected by autherised authorities.
                        The collected waste is then taken to the collection centers and once again properly sorted into E-waste,recycleable waste and
                        reuseable waste. Then the recycleable wastes are sent to recycling factories and resuseable wastes are sent to proper factories
                        for further processing.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}